<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">

  <title>{{info.author.name}} - YTJS</title>
  <script src="https://ajax.googleapis.com/ajax/libs/shaka-player/3.0.10/shaka-player.compiled.js"></script>
  <script src="https://cdn.plyr.io/3.6.4/plyr.js"></script>
  <link rel="stylesheet" href="https://cdn.plyr.io/3.6.4/plyr.css" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

  <style>
    #video {
      width: 100%;
      height: 100%;
      margin: auto;
    }

    .navigation {
      display: block;
      height: 5.2rem;
      line-height: 5.2rem;
      font-size: 1.6rem;
    }

    .related-video {
      margin-bottom: 1rem;
    }

    /* Plyr fix for milligram */
    .video-container button {
      margin-bottom: 0;
      height: auto;
    }

    .list-video {
      margin-bottom: 1rem;
    }

    .title img {
      height: 1.2em;
      border-radius: 100%;
      vertical-align: bottom;
    }
  </style>
</head>

<body>

  <nav class="navigation">
    <section class="container">
      YTJS
    </section>
  </nav>

  <section class="container">
    <h1 class="title"><img src="{{info.author.bestAvatar.url}}" /> <span>{{info.author.name}}</span></h1>

    <hr />
    
    {{#info.items}}
    <div class="list-video">
      <a href="/watch/{{id}}">{{title}}</a>
    </div>
    {{/info.items}}
  </section>


</body>

</html>